PORT=3000
OWNER_EMAIL=immshaani11@gmail.com
# Change this secret in production (generate with openssl rand -hex 32)
SESSION_SECRET=default_secret_for_local_dev_only
LLAMA_BASE_URL=http://localhost:8080
LLAMA_API_KEY=sk-zee-69ab26018b70d72f64cff26eec58c752be4aef6844bf7489
RESEND_API_KEY=re_FgJAUuuY_Kq7rZbb6pq5wDCPqbvYKz1ZK
APP_BASE_URL=https://api.projekts.pk
# Default path for termux, change for local testing
DB_PATH=/data/data/com.termux/files/home/zee.db
